$font-family-other: 'Monoton',
cursive;
$font-family-main: 'Roboto',
sans-serif;
$nav-bg-color: #121228;
$black-dark: black;
$black-light: #383838;
$black-smooth: #272727;
$white-light: #fff;
$white-medium: #dbdbdb;
$header-small: 20px;
$header-medium: 26px;
$header-big: 35px;
$html-font-size: 16px;

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

@for $i from 1 through 12 {
    $equ: 100% / $i;

    #grid.col-#{$i}>div {
        width: $equ;
    }
}

@keyframes smallbig {

    0%,
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes deneme {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@function get-vw($target) {
    $vw-context: (1000*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

.pad {
    margin-right: 1.2rem;
}